{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit odit cum fugit quaerat iste similique, consequatur, ratione atque aliquid recusandae asperiores suscipit neque qui deserunt. Unde explicabo magni ducimus tempora quisquam blanditiis hic numquam natus ex tenetur, fuga aperiam at aut quod repellendus cupiditate doloribus reiciendis architecto voluptates reprehenderit atque id adipisci neque. Exercitationem blanditiis, doloremque distinctio tempore autem explicabo impedit enim, quas vero provident ipsam, fuga accusamus corporis. Ea tempora harum sint adipisci quis, voluptatem dolorem. Nam ullam quia optio architecto aliquam! Quae distinctio possimus adipisci iste corporis. Illum ipsam alias beatae repudiandae hic odit vitae, id eaque quasi!</p>

<p>Website created by {{ username }}</p>

{% endblock %}